
<!-- <section class="msec animate__animated animate__fadeIn animate__delay-1s" style="height: 100vh; width: 100%; position: fixed;">
    <div class="lomain container-fluid" >
         <div class="googles">
          <button mat-button class="logoutbtn" *ngIf="logdata == false" (click)="signOut()">Logged-Out</button>
         </div>
         <div class="logos "><img style="height:100%; width:100%;" src="../../assets/svganim/translate.gif" alt=""></div>
          <asl-google-signin-button *ngIf="logdata == true" class="googles"
          type= 'standard'
          size= "large"
          shape="rectangular" 
          logo_alignment="center"
          locale="en"
        ></asl-google-signin-button>
    </div>
    </section> -->



    <section class="msec animate__animated animate__fadeIn animate__delay-1s" style="height: 100vh; width: 100%; position: fixed;">
      <div class="lomain container-fluid" >
           <div class="googles">
            <button mat-button class="logoutbtn" *ngIf="logdata == false" (click)="signOut()">Logged-Out</button>
           </div>
           <div class="logos "><img style="height:100%; width:100%;" src="../../assets/svganim/translate.gif" alt=""></div>
            <asl-google-signin-button *ngIf="logdata == true" class="googles"
            type= 'standard'
            size= "large"
            shape="rectangular" 
            logo_alignment="center"
            locale="en"
            (click)="signInWithGoogle()" ></asl-google-signin-button>
      </div>
      </section>